* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: #f8f8f8;
  color: #828282;
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
  color: #828282;
}

h2, h4 {
  color: #2b2b2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  letter-spacing: -0.09em;
}

/* NOTES */

.header {
  text-align: center;
  margin-top: 25px;
}

.header h2 {
  margin-bottom: 25px;
}

.notes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.notes__container {
  margin-top: 30px;
  height: 100%;
  width: 600px;
}

.notes__container-desc {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-link {
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.note-link p {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-link:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.notes button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 36px;
  cursor: pointer;
}

.popup button {
  z-index: 10;
  content: '';
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0;
}

.popup__container {
  position: absolute;
  z-index: 15;
  background: #fff;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup__container input {
  margin-bottom: 50px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  border: 1px solid #cdcdcd;
  padding: 0 15px;
}

.popup__container textarea {
  margin-bottom: 50px;
  padding: 15px;
  height: 150px;
  width: 250px;
  font-size: 22px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  resize: none;
}

.popup__container button {
  position: relative;
  color: #f8f8f8;
  background: #ffc102;
  text-transform: uppercase;
  font-weight: 700;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-size: 18px;
}

/* NOTE */

.note {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note__header {
  text-align: center;
  margin: 30px 0;
}

.note__wrapper {
  max-width: 1170px;
  min-width: 600px;
  margin: 0 auto;
}

.note__content {
  width: 100%;
  text-align: center;
}

.note button {
  position: absolute;
  right: 50px;
  top: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.note__header-back_button button{
  left: 50px;
}

.note__header input {
  margin-top: -10px;
  width: 600px;
  height: 50px;
  border-radius: 10px;
  font-size: 22px;
  border: 1px solid #cdcdcd;
  padding: 0 15px;
}

.note__content textarea {
  margin-bottom: 50px;
  padding: 15px;
  height: 400px;
  width: 600px;
  font-size: 22px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  resize: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ffc102;
  border-color: #ffc102 transparent #ffc102 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error__popup {
  z-index: 100;
  content: '';
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0;
}

.error__popup-container {
  position: absolute;
  z-index: 15;
  background: #fff;
  height: 500px;
  width: 400px;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.error__popup-buttons {
  display: flex;
}

.error__popup-container button{
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  margin-right: 20px;
}

.save__bunner {
  position: absolute;
  bottom: 50px;
  right: 50%;
  padding: 15px;
  background: #ffc102;
  color: #f8f8f8;
  transform: translate(50%, 0);
  border-radius: 10px;
}
